//BADGE NEWS
.badge-infos {
	margin-top:1rem;
	//margin-bottom:1rem;
	.badge-infos_avatar {
		margin-right: 0.5rem;
		max-height: 48px;
	}
	.badge-infos_date,
	.badge-infos_read-time {
		opacity: 0.6;
		font-size:0.8125rem;
		line-height:1.2;
	}
	.badge-infos_read-time::before {
		content: "";
		height: 2px;
		width: 2px;
		border-radius:50%;
		background-color: $white;
	}
}