//BOXES NEWS
.box-news {
	padding:2rem 0;
	margin-left:-15px;
	margin-right: -15px;
	h2 {
		margin-top:0;
		margin-bottom:20px;
	}
	p {
		padding:0;
		margin-bottom:0.5rem;
	}
	&.box-news_highlight {
		padding:2rem 0;
		h2 {
			font-weight: 600;
			font-size:40pt;
			margin-bottom:0.5rem;
		}
	}
}

.box-latest-news {
	margin-top:2rem;
	margin-bottom:2rem;
	h2 {
		font-weight: 600;
	}
	&.box-latest-news_highlight {
		margin-top:0;
		.link-image {
			display: none;
		}
	}
}

//TABLET PORTRAIT
@include respond-above(md) {
	.box-news {
		padding:3rem 15px;
		&.box-news_highlight {
			h2, .badge-infos {
				padding-left:2rem;
			}
		}
	}
}

//TABLET landscape
@include respond-above(lg) {
	.box-news {
		padding-bottom:4rem;
		&.box-news_highlight {
			padding-top:4rem;
		}
	}
	.box-latest-news {
		&.box-latest-news_highlight {
		margin-top:0;
			.link-image {
				display: block;
				position: absolute;
				right: 0;		
			}
		}
	}
}

//DESKTOP
@include respond-above(xl) {
	.box-news {
		padding-bottom:5rem;
		&.box-news_highlight {
			padding-top:5rem;
			padding-bottom:5rem;
		}
	}
}