//BOXES EVENTS
.box-events {
	padding:3rem 15px;
	h4 {
		font-weight: 600;
		text-transform: none;
		margin-top:0;
		margin-bottom:12px;
	}
	h5 {
		text-transform: none;
		padding:0;
		margin-top:0;
		margin-bottom:0.5rem;
		opacity: 0.5;
		i {
			margin-right: 0.5rem;
		}
	}
	&.box-events_highlight {
		h3 {
			font-weight: 600;
			padding-top:2rem;
			span {
				font-weight: 300;
			}
		}
		.badge-date {
			margin-top:2rem;
			i {
				margin-right: 0.5rem;
			}
		}
	}
}


//TABLET PORTRAIT
@include respond-above(md) {
	.box-events {
		&.box-events_highlight {
			h3 {
				max-width: 66.66667%;
			}
			.bg {
				position: absolute;
				height: 70%;
				width: 33.333334%;
				right: 0;
				top:15%;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

//TABLET LANDSCAPE
@include respond-above(lg) {
	.box-events {
		padding-top:5rem;
		padding-bottom:5rem;
		&.box-events_highlight {
			h3 {
				max-width: 45%;
			}
			.bg {
				width: 50%;
			}
		}
	}
}
