//CAROUSEL
.carousel-indicators {
	&.purple {
		li {
	    	background-color: var(--purple);
	    }
	}
}

.carousel-indicators {
	&.violet {
		li {
	    	background-color: $violet;
	    }
	}
}

.carousel-featured-stories {
	.carousel-indicators {
		z-index:30;
		bottom:0;
		 li {
		    margin-right: 4px;
		    margin-left: 4px;
		    &.violet {
		    	background-color: $violet;
		    }
		}
	}
	.carousel-item {
		transform: none;
		transition-property: opacity;
		transition-timing-function: $ts-base-tf;
		transition-delay: 0s;
		transition-duration: $ts-base-duration;
		min-height: 680px;
		display: block;
		opacity:0;
		z-index:2;
	}
	.carousel-item.active {
		opacity:1;
		z-index:20;
		&:nth-child(1) {
			~ .bg-element {
				transform:translateX(10%) translateY(-42%) scale(1.6) rotate(-55deg);
				svg {
					path {
						fill: $violet;
					}
				}
			}
		}
		&:nth-child(2) {
			~ .bg-element {
				transform:translateX(19%) translateY(-19%) scale(1.85) rotate(-11deg);
				opacity: 0.8;
				svg {
					path {
						fill: $violet;
					}
				}
			}
		}
		&:nth-child(3) {
			~ .bg-element {
				transform:translateX(-8%) translateY(-28%) scale(1.6) rotate(-30deg);
				opacity: 0.9;
				svg {
					path {
						fill: $violet;
					}
				}
			}
		}
		
	}
	.carousel-control-prev,
	.carousel-control-next {
		display: none;
	}

}


//TABLET PORTRAIT
@include respond-above(md) {
	.carousel-featured-stories {
		.carousel-item {
			min-height: 500px;
		}
		.carousel-item.active {
			&:nth-child(1) {
				~ .bg-element {
					transform:translateX(16%) translateY(-50%) scale(1.2,1.2) rotate(-55deg);
				}
			}
			&:nth-child(2) {
				~ .bg-element {
					transform:translateX(23%) translateY(-35%) scale(1.35,1.3) rotate(-35deg);
				}
			}
			&:nth-child(3) {
				~ .bg-element {
					transform:translateX(26%) translateY(-45%) scale(1.45,1.15) rotate(-10deg);
				}
			}	
		}
	}
}

//TABLET LANDSCAPE
@include respond-above(lg) {
	.carousel-featured-stories {
		.carousel-item.active {
			&:nth-child(1) {
				~ .bg-element {
					transform:translateX(81%) translateY(-50%) scale(1.25,1.25) rotate(-50deg);
				}
			}
			&:nth-child(2) {
				~ .bg-element {
					transform:translateX(78%) translateY(-35%) scale(1.45,1.3) rotate(-35deg);
				}
			}
			&:nth-child(3) {
				~ .bg-element {
					transform:translateX(81%) translateY(-45%) scale(1.35,1.2) rotate(-14deg);
				}
			}
			
		}
		.carousel-control-prev,
		.carousel-control-next {
			display: block;
			width: 10%;
			z-index:40;
			span {
				top:50%;
				position: relative;
				&.sr-only {
					display: none;
				}
			}
		}

	}
}