//TAGS

.chip {
	background-color: $kashmir;
	line-height: 2rem;
	height: 2rem;
	padding:0 0.75rem;
	font-size: 0.8125rem;
	color:$white;
	display: inline-block;
	margin: 0 0.5rem 0.5rem 0;
	border-radius: 5px;
	opacity: 0.9;
	transition: background-color $ts-base-duration/2 $ts-base-tf,
				opacity $ts-base-duration/2 $ts-base-tf;
	&.chip-outline {
		background:rgba($white, 0);
		border:1px solid $kashmir;
		color: $kashmir;
	}
	&:hover, &:focus, &:active {
		background-color: $purple;
		color:$white;
		opacity:1;
		text-decoration: none;
	}
}




