//CROSS LINKS
.cross-link {
	padding:3rem;
	h5 {
		text-transform: none;
	}
	p {
		padding:0 0 1rem 0;
		&:nth-of-type(1) {
			margin-bottom:0;
		}
	}
	&:nth-of-type(1) {
		&::after {
			width: 90%;
			content: "";
			position: absolute;
			bottom:0;
			height: 1px;
			background-color:$black;
			opacity: 0.05;
			left:5%;
		}
	}
	&.cross-link_press {
		&.building-block {
			&::before {
				display: none;
			}
		}
		&.building-block-3 {
			&::before {
				display: none;
			}
		}
	}
}

//TABLET PORTRAIT
@include respond-above(md) {
	.cross-link {
		padding:4rem;
	}

	.cross-link_boxed {
		border: 1px solid #ccc;
	}
}


//TABLET LANDSCAPE
@include respond-above(lg) {
	.cross-link {
		&:nth-of-type(1) {
			&::after {
				width: 1px;
				height: 70%;
				right: 0;
				top:15%;
				left:auto;
				bottom:auto;
			}
		}
		&.cross-link_press {
			&.building-block {
				&::before {
					display: block;
					top:0px;
					left:-15px;
					transform: translateX(-50%) translateY(-50%);
				}
			}
			&.building-block-3 {
				&::before {
					display: block;
					bottom:0px;
					right:-15px;
					transform: translateX(50%) translateY(50%);
				}
			}
		}
	}
}


