//ELEMENTS
.bg-element {
	position: absolute;
	z-index:1;
	top:50%;
	left:0%;
	transform:translateX(10%) translateY(-42%) scale(1.6) rotate(-55deg);
	transition: transform $ts-base-duration $ts-base-tf,
				opacity $ts-base-duration $ts-base-tf;
	&.violet {
		svg {
			path {
				transition: fill $ts-base-duration $ts-base-tf;
				fill: $white;
			}
		}
	}
}

//CUBES
$cubeW: 24;
$cubeH: 28;
.cubes-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    .cube {
    	position:absolute;
    	top:50%;
    	left:50%;
    	width: $cubeW + px;
    	height: $cubeH + px;
    	&.cube-2x {
    		width: ($cubeW * 2) + px;
    		height: ($cubeW * 2) + px;
    	}
    	&.cube-3x {
    		width: ($cubeW * 3) + px;
    		height: ($cubeW * 3) + px;
    	}
    	&.cube-4x {
    		width: ($cubeW * 4) + px;
    		height: ($cubeW * 4) + px;
    	}
    	&.cube-5x {
    		width: ($cubeW * 5) + px;
    		height: ($cubeW * 5) + px;
    	}
    	&.cube-6x {
    		width: ($cubeW * 6) + px;
    		height: ($cubeW * 6) + px;
    	}
    	&.cube-10x {
    		width: ($cubeW * 10) + px;
    		height: ($cubeW * 10) + px;
    	}
    	&.cube-15x {
    		width: ($cubeW * 15) + px;
    		height: ($cubeW * 15) + px;
    	}
    	&.cube-20x {
    		width: ($cubeW * 20) + px;
    		height: ($cubeW * 20) + px;
    	}
    }
}