//LINKS
.link {
	display: block;
	&.link-white {
		color: $white;
	}
	&.link-black {
		color: $black;
	}
	&.link-azure {
		color: $azure;
	}
	&.link-purple {
		color: $purple;
	}
	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}