//SOCIAL
#social {
	.facebook {
		background-image: url('../assets/social/facebook.svg');
	}
	.twitter {
		background-image: url('../assets/social/twitter.svg');
	}
	.medium {
		background-image: url('../assets/social/medium.svg');
	}
	.linkedin {
		background-image: url('../assets/social/linkedin.svg');
	}
	.youtube {
		background-image: url('../assets/social/youtube.svg');
	}
}

//BUTTONS
.btn-purple {
	background-color: $purple;
	border:0;
	color: $white;
	&:hover, &:focus, &:active {
		color:$white;
	}
}

//ELEMENTS
.building-block::before {
    background-image: url("../assets/svg/shape-block-1.svg");
}
.building-block-3::before {
    background-image: url("../assets/svg/shape-blocks-3.svg");
}


//MOBILE/TABLET
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .press {
	    h1 {
	        font-size:40pt;
	    }
	    h3 {
	        font-size:20pt;
	    }
	}
}