//STORIES
.featured-story {
	display: block !important;
	transition: opacity 400ms;
	padding-top:2rem;
	h3 {
		font-weight: 600;
		font-size:40pt;
		margin-bottom:0.5rem;
	}
	
}

.more-stories {
	position:relative;
	padding-bottom:8rem;
	background-image: url("../assets/bg/pattern-shape-mix.png");
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom:2rem;
	.more-stories_wrap {
		padding:1rem;
		.h2 {
			text-transform: none;
			color: $violet;
			strong {
				color:$purple;
			}
		}
	}
	
	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		width: 102px;
		height: 96px;
		background-image: url("../assets/svg/shape-line-curved.svg");
		background-size: cover;
		background-repeat: no-repeat;
		left: 50%;
		top: 50%;
		transform: translateX(50%) translateY(50%);
	}
}


//TABLET PORTRAIT
@include respond-above(md) {
	.more-stories {
		padding-top:0;
		&::after {
			transform: translateX(50%) translateY(0%) scale(1.5);
		}
	}
}

//TABLET LANDSCAPE
@include respond-above(lg) {
	.featured-story {
		p {
			font-size:1.5rem;
			padding-top:0.5rem;
		}
	}
}

//DESKTOP
@include respond-above(xl) {
	.more-stories {
		padding-top: 8rem;
		margin-top:0;
		background-repeat: repeat;
		.more-stories_wrap {
			padding:2rem;
		}
		&::after {
			left:75%;
			transform: translateX(50%) translateY(-50%) scale(2);
		}
	}
}