//TYPE
.fw-600 {
    font-weight:600;
}


.text-lc {
	text-transform: none;
}

p.small {
	font-size: 0.8125rem;
}

.overline {
	font-size: 0.8125rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 200;
	display: inline-block;
}