//COLORS
$white: #FFF;
$black: #222;
$kashmir: #44689A;
$meringue : #F4EBC9;
$violet: #7A7FFF;
$purple: #42448E;
$sun: #f7ab1b;
$cloud: #093554;
$azure: #058ed8;

//TRANSITION
$ts-base-duration:    400ms !default;
$ts-base-tf:          ease-in-out;
$ts-circ-out:         cubic-bezier(0.075, 0.820, 0.165, 1.000);

//BREAKPOINT (as bootstrap 4) 
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

