//WRAPPERS
.press {
	h1 {
		margin-top:24px;
		margin-bottom:24px;
	}
	.cubes-bg {
		.cube:nth-of-type(1) {
			left:35%;
			right: auto;
			top:35%;
			transform: translateX(0%);
			opacity: 1;
		}
		.cube:nth-of-type(2) {
			left:auto;
			right: 5%;
			top:15%;
			transform: translateX(0%);
			opacity: 1;
		}
		.cube:nth-of-type(3) {
			left:85%;
			right: 0;
			top:30%;
			opacity: 1;
		}
		.cube:nth-of-type(4) {
			left:auto;
			right: 0;
			top:40%;
			opacity: 1;
		}
		.cube:nth-of-type(5) {
			left:-18%;
			top:20%;
			opacity: 0.05;
		}
		.cube:nth-of-type(6) {
			left:55%;
			top:48%;
			opacity: 0.2;
		}
		.cube:nth-of-type(7) {
			left:25%;
			top:45%;
			opacity: 0.25;
		}
		.cube:nth-of-type(8) {
			left:50%;
			right: auto;
			top:25%;
			opacity: 0.7;
		}
	}
}

.latest-news, .financial-release,
.investor-relation, .search-chips,
#crop-header {
	position: relative;
	z-index:2;
}
.latest-news{
	margin-top:2.5rem;
}
.events-presentations {
	padding-top:50px !important;
}
.search-chips {
	position:relative;
	&::after {
		content: "";
		position:absolute;
		z-index:1;
		width: 142px;
		height: 152px;
		background-image: url('../assets/svg/shape-triangle-violet.svg');
		background-size:cover;
		background-repeat: no-repeat;
		right: 20px;
		bottom: -20px;
	}
}

.strip-action {
	margin-top:2rem;
	text-align: center;
}


//TABLET PORTRAIT
@include respond-above(md) {
	.search-chips {
		position:relative;
		.chips-wrap {
			max-width: 50%;
		}
		&::after {
			transform-origin: right  bottom;
			transform: scale(1.3);
		}
	}
}


//DESKTOP
@include respond-above(xl) {
	.events-presentations {
		padding-top:150px !important;
	}
	.search-chips {
		padding-bottom:4rem;
		h3, h6 {
			width: 23%;
		}
		h6 {
			padding-top:0.5rem;
		}
		.chips-wrap {
			max-width: 40%;
		}
		&::after {
			transform: scale(2);
		}
	}
	.investor-relation {
		padding-bottom:4rem;
	}
}
