include mixins/mixins
doctype html
html(lang=`${global.lang}`)

	+head-detail(press.head, press.social)
	include blocks/styles

	body.press

		main#wrapper 
			
			include blocks/mobileNavigation

			#crop-header
				include blocks/navigation
				include blocks/news
				include blocks/search-chips
				include blocks/cubes

			include blocks/events-presentations
			include blocks/stories

			include blocks/cross-links


			include blocks/backTop
			include blocks/footer
								  

	include blocks/scripts
	include blocks/intercom
