block cross-link
	// Cross link
	section.cross-links
		.container
			.row
				.col-lg-12.white-bg.text-center.cross-link_boxed
					.container
						.row
							.cross-link.cross-link_press.col-lg-6.building-block
								a.link.link-azure(href=press.crossLinks.link1.button.url)
									i.azure.fal.fa-2x(class=press.crossLinks.link1.icon)
									h5.h3.azure.mt-4 #{press.crossLinks.link1.title}
								p #{press.crossLinks.link1.subtitle}
								p.small !{press.crossLinks.link1.excerpt}
								a.btn.btn-azure.btn-shadow(role="button" href=press.crossLinks.link1.button.url) #{press.crossLinks.link1.button.label}
							.cross-link.cross-link_press.col-lg-6.building-block-3
								a.link.link-azure(href=press.crossLinks.link2.button.url)
									i.purple.fal.fa-2x(class=press.crossLinks.link2.icon)
									h5.h3.purple.mt-4 #{press.crossLinks.link2.title}
								p #{press.crossLinks.link2.subtitle}
								p.small !{press.crossLinks.link2.excerpt}
								a.btn.btn-purple.btn-shadow(role="button" href=press.crossLinks.link2.button.url) #{press.crossLinks.link2.button.label}