block cubes
	//Cubes bg
	.cubes-bg
		svg.cube(data-parallax width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="3")
		svg.cube(data-parallax width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="3")
		svg.cube.cube-2x(data-parallax="0.15" width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="3")
		svg.cube.cube-4x(data-parallax="0.25" width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="2")
		svg.cube.cube-20x(data-parallax="0.1" width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="2")
		svg.cube.cube-10x(data-parallax="0.15" width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="2")
		svg.cube.cube-5x(data-parallax="0.25" width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="2")
		svg.cube.cube-3x(data-parallax="0.3" width="375" height="432" viewBox="0 0 375 432" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M1 106.958V320.991L190.337 430.066M1 106.958L186.221 2L373.5 106.958M1 106.958L190.337 213.975M190.337 430.066L373.5 323.049V106.958M190.337 430.066V213.975M373.5 106.958L190.337 213.975" stroke="white" stroke-width="2")