block events-presentations
	// Events presentations
	section.events-presentations
		.container
			.row
				.col-12
					h2.violet.text-center !{press.events.title}
		.container-fluid.p-0
			.row
				.col-12.purple-bg
					.container.p-0
						.box-events.box-events_highlight
							span.overline.meringue.mb-4 !{press.events.event1.overline}
							a.link.link-white(href=press.events.event1.url)
								h3.h2.white !{press.events.event1.title}
								.badge-date.white
									i.fa-2x.fal.fa-calendar-alt
									span.h3 !{press.events.event1.date}
								.bg.d-none.d-md-block.lazyload(data-bg=press.events.event1.bg)
				.col-12
					.container.p-0
						.row
							.col-12.col-md-4
								.container.p-0
									.box-events
										a.link.link-black(href=press.events.event2.url)
											h4 !{press.events.event2.title}
											h5 
												i(class=press.events.event2.link.icon)
												| !{press.events.event2.link.label}
										.badge-infos.d-flex
											img.badge-infos_avatar.lazyload(draggable="false" width="48" height="48" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3C/svg%3E" data-src=press.events.event2.author.img)
											div
												span.news-author #{press.events.event2.author.name}
												div
													span.badge-infos_date 
														| #{press.events.event2.date} 
													span.badge-infos_read-time
														| #{press.events.event2.readTime}
							.col-12.col-md-4
								.container.p-0
									.box-events
										a.link.link-black(href=press.events.event3.url)
											h4 !{press.events.event3.title}
											h5 
												i(class=press.events.event3.link.icon)
												| !{press.events.event3.link.label}
										.badge-infos.d-flex
											img.badge-infos_avatar.lazyload(draggable="false" width="48" height="48" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3C/svg%3E" data-src=press.events.event3.author.img)
											div
												span.news-author #{press.events.event3.author.name}
												div
													span.badge-infos_date 
														| #{press.events.event3.date} 
													span.badge-infos_read-time
														| #{press.events.event3.readTime}
							.col-12.col-md-4
								.container.p-0
									.box-events
										a.link.link-black(href=press.events.event4.url)
											h4 !{press.events.event4.title}
											h5 
												i(class=press.events.event4.link.icon)
												| !{press.events.event4.link.label}
										.badge-infos.d-flex
											img.badge-infos_avatar.lazyload(draggable="false" width="48" height="48" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3C/svg%3E" data-src=press.events.event4.author.img)
											div
												span.news-author #{press.events.event4.author.name}
												div
													span.badge-infos_date 
														| #{press.events.event4.date} 
													span.badge-infos_read-time
														| #{press.events.event4.readTime}
			.col-12.strip-action
				a.btn.btn-white.btn-shadow(href="press.events.moreEvents.url")
					|#{press.events.moreEvents.label}
					i.fa.fa-chevron-right
				