block featured-stories
	// Featured Stories
	section.stories.pt-4
		.container
			.row
				.col-12
					span.overline.violet.mb-4 !{press.stories.featured.overline}

		#featured-story.carousel-featured-stories.carousel.slide(data-ride="carousel")
			//Indicators
			.carousel-indicators.violet
				li(data-target="#featured-story" data-slide-to="0" class="active")
				li(data-target="#featured-story" data-slide-to="1" class="")
				li(data-target="#featured-story" data-slide-to="2" class="")
			//Carousel wrap items
			.carousel-inner
				//Item 1
				.carousel-item.active
					.featured-story
						.container
							.row
								.col-lg-5
									h3.h1 
										a.link.link-black(target="_blank" href=press.stories.featured.story1.url) !{press.stories.featured.story1.title}
								.col-lg-7
									p 
										a.link.link-black(target="_blank" href=press.stories.featured.story1.url) !{press.stories.featured.story1.excerpt}
									.badge-infos.d-flex
										img.badge-infos_avatar.lazyload.img-fluid(draggable="false" width="48" height="48" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3C/svg%3E" data-src=press.stories.featured.story1.author.img)
										div
											span.news-author #{press.stories.featured.story1.author.name}
											div
												span.badge-infos_date 
													| #{press.stories.featured.story1.date} 
												span.badge-infos_read-time
													| #{press.stories.featured.story1.readTime}
				//Item 2
				.carousel-item
					.featured-story
						.container
							.row
								.col-lg-5
									h3.h1 
										a.link.link-black(target="_blank" href=press.stories.featured.story2.url) !{press.stories.featured.story2.title}
								.col-lg-7
									p 
										a.link.link-black(target="_blank" href=press.stories.featured.story2.url) !{press.stories.featured.story2.excerpt}
									.badge-infos.d-flex
										img.badge-infos_avatar.lazyload.img-fluid(draggable="false" width="48" height="48" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3C/svg%3E" data-src=press.stories.featured.story2.author.img)
										div
											span.news-author #{press.stories.featured.story2.author.name}
											div
												span.badge-infos_date 
													| #{press.stories.featured.story2.date} 
												span.badge-infos_read-time
													| #{press.stories.featured.story2.readTime}
				//Item 2
				.carousel-item
					.featured-story
						.container
							.row
								.col-lg-5
									h3.h1 
										a.link.link-black(target="_blank" href=press.stories.featured.story3.url) !{press.stories.featured.story3.title}
								.col-lg-7
									p 
										a.link.link-black(target="_blank" href=press.stories.featured.story3.url) !{press.stories.featured.story3.excerpt}
									.badge-infos.d-flex
										img.badge-infos_avatar.lazyload.img-fluid(draggable="false" width="48" height="48" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3C/svg%3E" data-src=press.stories.featured.story3.author.img)
										div
											span.news-author #{press.stories.featured.story3.author.name}
											div
												span.badge-infos_date 
													| #{press.stories.featured.story3.date} 
												span.badge-infos_read-time
													| #{press.stories.featured.story3.readTime}
				//shape
				.bg-element
					include shape-stain

			a.carousel-control-prev.azure(href="#featured-story" role="button" data-slide="prev")
				span.fa.fa-chevron-left
				span.sr-only Previous
			a.carousel-control-next.azure(href="#featured-story" role="button" data-slide="next")
				span.fa.fa-chevron-right
				span.sr-only Next

			

