block financial-release
	// Financial release
	section.financial-release.pl-0.pr-0.pt-4
		.container
			.row
				.col-12
					span.overline.meringue !{press.financialRelease.overline}
		.container
			.row.justify-content-xl-between
				.col-12.col-md-6.col-xl-5
					.box-latest-news
						a.link.link-white(target="_blank" href=press.financialRelease.news1.url)
							h2 !{press.financialRelease.news1.title}
							h4.text-lc !{press.financialRelease.news1.excerpt}
						.badge-infos.d-flex
							div
								div
									span.badge-infos_date 
										| #{press.financialRelease.news1.date}
				.col-12.col-md-6.col-xl-5
					.box-latest-news
						a.link.link-white(target="_blank" href=press.financialRelease.news2.url)
							h2 !{press.financialRelease.news2.title}
							h4.text-lc !{press.financialRelease.news2.excerpt}
						.badge-infos.d-flex
							div
								div
									span.badge-infos_date
										| #{press.financialRelease.news2.date}