block footer
	// FOOTER
	footer
		#main-footer.container-fluid
			.container
				.row
					.col.col-lg-6.col-12#newsletter-pre(style="display: block;")
						h3 Please stay in touch!
						p Don’t miss new features, market coverage, regulations, and more.

					.col.col-lg-6.col-12
						form#newsletter
							.row.signup-form
								<!--[if lte IE 8]>
								script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js")
								<![endif]-->
								script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js")
								.hbspt-form#hbspt-form-1591099485040-7907315425
									.hs-nested-form-fix( data-reactid=".hbspt-forms-1")
										span(data-reactid=".hbspt-forms-1.0")
										form(novalidate="" accept-charset="UTF-8" action="https://forms.hsforms.com/submissions/v3/public/submit/formsnext/multipart/3954168/3a521d44-48f8-4cdb-bc50-b8953516b34a" enctype="multipart/form-data" id="hsForm_3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" method="POST" class="hubspot-form hs-form hs-form-private hsForm_3a521d44-48f8-4cdb-bc50-b8953516b34a hs-form-3a521d44-48f8-4cdb-bc50-b8953516b34a hs-form-3a521d44-48f8-4cdb-bc50-b8953516b34a_9d336c00-8cd2-41a1-b4c4-3c3ab32a40f2" data-form-id="3a521d44-48f8-4cdb-bc50-b8953516b34a" data-portal-id="3954168" target="target_iframe_3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" data-reactid=".hbspt-forms-1.1")
											div(class="hs_email hs-email hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-1.1.1:$0")
												label(id="label-email-3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" class="" placeholder="Enter your " for="email-3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" data-reactid=".hbspt-forms-1.1.1:$0.0")
													span(data-reactid=".hbspt-forms-1.1.1:$0.0.0")
													span(class="hs-form-required" data-reactid=".hbspt-forms-1.1.1:$0.0.1") *
												legend(class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-1.1.1:$0.1")
												div(class="input" data-reactid=".hbspt-forms-1.1.1:$0.$email")
													input(id="email-3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" class="hs-input" type="email" name="email" required="" placeholder="Your email here..." value="" autocomplete="email" data-reactid=".hbspt-forms-1.1.1:$0.$email.0")
											div(class="legal-consent-container" data-reactid=".hbspt-forms-1.1.2")
												div(data-reactid=".hbspt-forms-1.1.2.1:0")
													div(class="hs-dependent-field" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946")
														div(class="hs_LEGAL_CONSENT.subscription_type_4541946 hs-LEGAL_CONSENT.subscription_type_4541946 hs-fieldtype-booleancheckbox field hs-form-field" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946")
															legend(class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.1")
															div(class="input" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946")
																ul(class="inputs-list" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.0")
																	li(class="hs-form-booleancheckbox" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.0.0")
																		label(for="LEGAL_CONSENT.subscription_type_4541946-3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" class="hs-form-booleancheckbox-display" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.0.0.0")
																			input(id="LEGAL_CONSENT.subscription_type_4541946-3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" class="hs-input" type="checkbox" name="LEGAL_CONSENT.subscription_type_4541946" value="true" data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.0.0.0.0")
																			span(data-reactid=".hbspt-forms-1.1.2.1:0.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.$LEGAL_CONSENT=1subscription_type_4541946.0.0.0.1")
																				p I agree to receive emails about the latest news and product updates from TrueLayer.
													legend(class="hs-field-desc checkbox-desc" style="display:none;" data-reactid=".hbspt-forms-1.1.2.1:0.1")
											div(class="hs_submit hs-submit" data-reactid=".hbspt-forms-1.1.5")
												div(class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-1.1.5.0")
												div(class="actions" data-reactid=".hbspt-forms-1.1.5.1")
													input(type="submit" value="SIGN ME UP" class="btn btn-outline-azure azure hs-btn" data-reactid=".hbspt-forms-1.1.5.1.0")
												noscript(data-reactid=".hbspt-forms-1.1.6")
												input(name="hs_context" type="hidden" value="{&quot;rumScriptExecuteTime&quot;:861,&quot;rumServiceResponseTime&quot;:1067,&quot;rumFormRenderTime&quot;:2,&quot;rumTotalRenderTime&quot;:2793,&quot;rumTotalRequestTime&quot;:201,&quot;lang&quot;:&quot;en&quot;,&quot;legalConsentOptions&quot;:&quot;{\&quot;communicationConsentCheckboxes\&quot;:[{\&quot;communicationTypeId\&quot;:4541946,\&quot;label\&quot;:\&quot;<p>I agree to receive emails about the latest news and product updates from TrueLayer.</p>\&quot;,\&quot;required\&quot;:false}],\&quot;legitimateInterestLegalBasis\&quot;:\&quot;LEGITIMATE_INTEREST_PQL\&quot;,\&quot;processingConsentType\&quot;:\&quot;IMPLICIT\&quot;,\&quot;processingConsentCheckboxLabel\&quot;:\&quot;<p>I agree to allow TrueLayer to store and process my personal data.</p>\&quot;,\&quot;isLegitimateInterest\&quot;:false}&quot;,&quot;renderRawHtml&quot;:&quot;true&quot;,&quot;embedAtTimestamp&quot;:&quot;1591099485034&quot;,&quot;formDefinitionUpdatedAt&quot;:&quot;1582301104081&quot;,&quot;pageUrl&quot;:&quot;https://truelayer.com/&quot;,&quot;pageTitle&quot;:&quot;TrueLayer | Powering the new era of financial innovation&quot;,&quot;source&quot;:&quot;FormsNext-static-3.506&quot;,&quot;timestamp&quot;:1591099485034,&quot;userAgent&quot;:&quot;Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:76.0) Gecko/20100101 Firefox/76.0&quot;,&quot;referrer&quot;:&quot;https://truelayer.com/about/&quot;,&quot;originalEmbedContext&quot;:{&quot;portalId&quot;:&quot;3954168&quot;,&quot;formId&quot;:&quot;3a521d44-48f8-4cdb-bc50-b8953516b34a&quot;,&quot;submitButtonClass&quot;:&quot;btn btn-outline-azure azure hs-btn&quot;,&quot;formInstanceId&quot;:&quot;signup-form&quot;,&quot;cssClass&quot;:&quot;hubspot-form&quot;,&quot;target&quot;:&quot;#hbspt-form-1591099485040-7907315425&quot;,&quot;hutk&quot;:&quot;b4e69011d4c0d19953cd9e4ef3affca6&quot;},&quot;boolCheckBoxFields&quot;:&quot;LEGAL_CONSENT.subscription_type_4541946&quot;,&quot;formInstanceId&quot;:&quot;signup-form&quot;,&quot;formTarget&quot;:&quot;#hbspt-form-1591099485040-7907315425&quot;,&quot;correlationId&quot;:&quot;239208a0-1aa8-4d0c-867d-9e40b1f8f2c2&quot;,&quot;hutk&quot;:&quot;b4e69011d4c0d19953cd9e4ef3affca6&quot;}" data-reactid=".hbspt-forms-1.1.7")
												iframe(name="target_iframe_3a521d44-48f8-4cdb-bc50-b8953516b34a_signup-form" style="display:none;" data-reactid=".hbspt-forms-1.1.8")

				hr

				.row.footer-menu
					.col-lg-2.col-md-4.col-6
						p Products
						ul
							li
								a(href="/data-api") Data API
							li
								a(href="/payments-api") Payments API
					.col-lg-2.col-md-4.col-6
						p Public Policy
						ul
							li
								a(href="/psd2") PSD2
							li
								a(href="/openbanking") Open Banking
					.col-lg-2.col-md-4.col-6
						p Developers
						ul
							li
								a(href="http://docs.truelayer.com/") Documentation
							li
								a(href="http://support.truelayer.com" target="_blank") FAQs
							li
								a(href="https://truelayer.zendesk.com/hc/en-us/requests/new" target="_blank") Tickets
							li
								a(href="https://status.truelayer.com" target="_blank") Status page
					.col-lg-2.col-md-4.col-6
						p Company
						ul
							li
								a(href="/contact" onclick="ga('send', 'event', 'Contact us', 'Contact us click', 'Footer', {nonInteraction: true});") Contact us
							li
								a(href="https://blog.truelayer.com/" target="_blank") Blog
							li
								a(href="https://truelayer.workable.com" onclick="ga('send', 'event', 'Workable', 'jobs', 'footer', {nonInteraction: true});" target="_blank") Jobs
					.col-lg-2.col-md-4.col-6
						p Legal
							ul
								li
									a(href="/privacy") Privacy Policy
								li
									a(href="/employee-privacy") Employee Privacy Policy
								li
									a(href="/enduser_tos") End User ToS
					.col-lg-2.col-md-4.col-6
						p Consumers
						ul
							li
								a(href="https://psu.truelayer.com" target="_blank") Consumer Portal
						   
		#sub-footer.container-fluid
			.row.text-center
				#social.container
					.col-lg-12
						a(href="https://www.facebook.com/TrueLayerAPI/" target="_blank" class="social-link facebook")
						a(href="https://twitter.com/truelayer" target="_blank" class="social-link twitter")
						a(href="https://blog.truelayer.com/" target="_blank" class="social-link medium")
						a(href="https://www.linkedin.com/company/17954388/" target="_blank" class="social-link linkedin")
						a(href="https://www.youtube.com/channel/UCgCJvUI1ViLmlNzwPoRjcTw" target="_blank" class="social-link youtube")
			.row.text-center
				.col-lg-12
					p(style="padding-bottom:0")
						script(type="text/JavaScript")
							| var theDate= new Date();
							| document.write("© TrueLayer Limited " + theDate.getFullYear());
						| &copy; TrueLayer Limited 2020
					.container
						.row
							.col-10.mb-5.col-centered
								p TrueLayer is regulated by the UK Financial Conduct Authority under the Payment Services Regulations 2017 as an Authorised Payment Institution to provide account information services and payment initiation services (Firm Reference Number: 793171).