block head-detail

    head
        meta(charset='utf-8')
        meta(name='description', content=head.desc)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{head.title}
        link(rel='shortcut icon', href=`${global.favicon}`)
        link(rel="canonical" href=head.canonical)
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        //FB
        meta(property="og:title" content=`${social.title}`)
        meta(property="og:description" content=`${social.description}`)
        meta(property="og:image" content=`${social.image}`)
        meta(property="og:url" content=`${social.url}`)
        meta(property="og:site_name" content=`${social.siteName}`)
        //TW
        meta(name="twitter:card" content=`${social.card}`)
        meta(name="twitter:site" content=`${social.cardUser}`)
        