block investor-relations
	// Investor Relations
	section.investor-relation.pt-4
		.container-fluid.purple-bg.p-0
			.row
				.col-12
					.container
						span.overline.meringue.mt-5 !{press.investorRelations.news1.overline}
		.container-fluid.purple-bg
			.row
				.col-12
					.container.p-0
						.row.justify-content-xl-between
							.col-12.col-md-6.col-xl-5
								.container
									.box-news
										a.link.link-white(target="_blank" href=press.investorRelations.news1.url)
											h2 !{press.investorRelations.news1.title}
											p !{press.investorRelations.news1.excerpt}
										.badge-infos.d-flex
											div
												div
													span.badge-infos_date 
														| #{press.investorRelations.news1.date}
							.col-12.col-md-6.col-xl-5
								.container
									.box-news
										a.link.link-white(target="_blank" href=press.investorRelations.news2.url)
											h2 !{press.investorRelations.news2.title}
											p !{press.investorRelations.news2.excerpt}
										.badge-infos.d-flex
											div
												div
													span.badge-infos_date 
														| #{press.investorRelations.news2.date}
		.container-fluid.white-bg
			.col-12
				.container.p-0
					.box-news.box-news_highlight.d-flex.align-items-center
						.col-md-4.d-none.d-md-block
							a.link.link-white(target="_blank" href=press.investorRelations.news3.url)
								img.lazyload.img-fluid(alt="" draggable="false" width="704" height="715" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 704 715'%3E%3C/svg%3E" data-src=press.investorRelations.news3.img)
						.col-12.col-md-7.push-md-1.p-0
								a.link.link-white(target="_blank" href=press.investorRelations.news3.url)
									h2.h1.purple !{press.investorRelations.news3.title}
								.badge-infos.d-flex
									div
										div
											span.badge-infos_date.black
												| #{press.investorRelations.news3.date}
						


