block latest-news
	// Latest news
	section.latest-news
		.container
			.row
				.col-12
					span.overline.meringue !{press.latestNews.overline}
		.container
			.row
				.box-latest-news.box-latest-news_highlight.d-flex
					.col-12.col-lg-6
						a.link.link-white(target="_blank" href=press.latestNews.news1.url)
							h1 !{press.latestNews.news1.title}
							h3 !{press.latestNews.news1.excerpt}
						.badge-infos.d-flex
							img.badge-infos_avatar.lazyload(alt="" draggable="false" width="48" height="48" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3C/svg%3E" data-src=press.latestNews.news1.author.img)
							div
								span.news-author #{press.latestNews.news1.author.name}
								div
									span.badge-infos_date 
										| #{press.latestNews.news1.date} 
									span.badge-infos_read-time
										| #{press.latestNews.news1.readTime}
					.col-lg-6.d-none.d-lg-block
						a.link.link-white(target="_blank" href=press.latestNews.news1.url)
							img.lazyload.img-fluid(alt="" draggable="false" width="704" height="715" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 704 715'%3E%3C/svg%3E" data-src=press.latestNews.news1.img)