block mobileNavigation
	// MOBILE NAVIGATION
	#navbarMobile
		a(class="navbar-brand" href="/")
			img(height="50px" src=global.logo )

		ul
			li
				a(href="/") Home
			li(class="menu-item")
				a
					span Products
					span(class="menu-collapse")
						i(class="fa fa-caret-down" aria-hidden="true")
				
			
			ul(class="submenu" hidden)
				li
					a(href="/data-api" class="submenu-link") Data API
				li
					a(href="/payments-api" class="submenu-link") Payments API
				li
					a(href="/openbanking" class="submenu-link") Open Banking
				li
					a(href="/psd2" class="submenu-link") PSD2
				li
					a(href="/security" class="submenu-link") Security
		   
			li(class="menu-item")
				a
					span Pricing
					span(class="menu-collapse")
						i(class="fa fa-caret-down" aria-hidden="true")
				
			
			ul(class="submenu" hidden)
				li
					a(href="/data-api/#pricing-data" class="submenu-link") Data API
				li
					a(href="/payments-api/#pricing-payments" class="submenu-link") Payments API
		   
			li(class="menu-item")
				a
					span Use Cases
					span(class="menu-collapse")
						i(class="fa fa-caret-down" aria-hidden="true")
				
			
			ul(class="submenu" hidden)
				li
					a(href="/use-cases/account-topup") Account Top Up
				li
					a(href="/use-cases/account-aggregation") Account Aggregation
				li
					a(href="/use-cases/account-verification") Account Verification
		   
			li(class="menu-item")
				a
					span Developers
					span(class="menu-collapse")
						i(class="fa fa-caret-down" aria-hidden="true")
				
			
			ul(class="submenu" hidden)
				li
					a(href="http://docs.truelayer.com" target="_blank") Documentation
				li
					a(href="https://console.truelayer.com" target="_blank") Console
				li
					a(href="https://demo.truelayer.com" target="_blank") Demo Application
				li
					a(href="https://status.truelayer.com/" target="_blank") Status Page
		   
			li(class="menu-item")
				a
					span Company
					span(class="menu-collapse")
						i(class="fa fa-caret-down" aria-hidden="true")
				
			
			ul(class="submenu" hidden)
				li
					a(href="/customers" class="submenu-link") Customers
				li
					a(href="/about" class="submenu-link") About TrueLayer
				li
					a(href="/contact" class="submenu-link" onclick = "ga('send', 'event', 'Contact us', 'Contact us click', 'Mobile navbar', {nonInteraction: true});") Contact Us
				li
					a(href="#") Press Release
				li
					a(href="https://blog.truelayer.com" target="_blank") Blog
				li
					a(href="https://truelayer.workable.com" onclick = "ga('send', 'event', 'Workable', 'jobs', 'mobile menu', {nonInteraction: true});" target="_blank") Jobs
		   
			li(class="menu-item")
				a
					span Legal
					span(class="menu-collapse")
						i(class="fa fa-caret-down" aria-hidden="true")
				
			
			ul(class="submenu" hidden)
				li
					a(href="/privacy" class="submenu-link") Privacy Policy
				li
					a(href="/employee-privacy" class="submenu-link") Employee Privacy Policy
				li
					a(href="/enduser_tos" class="submenu-link") End User ToS
		   
			li
				a(class="btn btn-outline-white" href="/support") Support
			li
				a(class="btn btn-sun" href="https://console.truelayer.com/?auto=login" target="_blank") Log in
					i(class="fa fa-chevron-right" aria-hidden="true")
	
	#navbarMobile-backdrop
		//.backdrop
