block more-stories
	// More Stories
	section.more-stories
		.container
			.row
				.col-12.col-lg-5
					.more-stories_wrap.white-bg
						h4.h2.mb-4 !{press.stories.more.title}
						a.btn.btn-white.btn-shadow(target="_blank" href=press.stories.more.button.url)
							| #{press.stories.more.button.label}
							i.fa.fa-chevron-right(aria-hidden="true")