block navigation
	// NAVIGATION
	nav(class="navbar navbar-expand-lg")
		div(class="container")
			a(class="navbar-brand" href="/")
				img(height="50px" src=global.logo)
			button(class="navbar-toggler" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
				span(class="navbar-toggler-icon")
					i(class="fa fa-bars" aria-hidden="true")
		   
			div(class="collapse navbar-collapse" id="navbarResponsive")
				ul(class="navbar-nav ml-auto")
					li(class="nav-item dropdown")
						a(class="nav-link nav-link-parent") Products
					li(class="nav-item dropdown")
						a(class="nav-link nav-link-parent") Pricing

					li(class="nav-item dropdown")
						a(class="nav-link nav-link-parent") Developers
					li(class="nav-item dropdown")
						a(href="/customers" class="nav-link") Customers

					//Company
					li(class="nav-item dropdown")
						a(class="nav-link nav-link-parent") Company
						//Primary Subnav 
						ul(class="dropdown-child box-shadow" role="menu")
							.dropdown-arrow
							li
								a(href="#")
									i(class="fa fa-building" aria-hidden="true")
									| About TrueLayer
								a(href="#")
									i(class="fa fa-envelope" aria-hidden="true")
									| Contact us
								a(href="#")
									i(class="fa fa-newspaper" aria-hidden="true")
									| Press Release
								ul
									li
										a(href="https://docs.truelayer.com/#getting-started" target="_blank")
											|NewsRoom
											i(class="fa fa-chevron-right" aria-hidden="true")
									li
										a(href="https://docs.truelayer.com/#getting-started" target="_blank")
											|Events&amp;Presentations
											i(class="fa fa-chevron-right" aria-hidden="true")
									li
										a(href="https://docs.truelayer.com/#getting-started" target="_blank")
											|Resources
											i(class="fa fa-chevron-right" aria-hidden="true")
										
								a(href="#" target="_blank")
									i(class="fas fa-pencil-alt" aria-hidden="true")
									| Blog

							//Primary Subnav
							li(class="secondary")

								a(href="#")
									i(class="far fa-hand-peace" aria-hidden="true")
									| We are hiring!
								p.menu-text TrueLayer is always looking for passionate individuals. Join our team to make a difference and shape the new era of financial innovation.
								ul
									li
										a(href="#")
											|See open positions 
											i(class="fa fa-chevron-right" aria-hidden="true")

					li(class="nav-item support-padding")
						a(class="btn btn-outline-white" href="#") Support

					li(class="nav-item")
						a(class="btn btn-white" href="#") Log in
							i(class="fa fa-chevron-right" aria-hidden="true")