block scripts

    //external
    script(src="https://kit.fontawesome.com/21273d6398.js" crossorigin="anonymous")

    // build:js scripts/truelayer.js
    script(src="scripts/truelayer/jquery-3.1.1.min.js")
    script(src="scripts/truelayer/bootstrap.4.3.1.min.js")
    script(src="scripts/truelayer/custom.js")


    // build:js scripts/plugins.js
    script(src='scripts/plugins/config-lazysizes.js')
    script(src='/node_modules/lazysizes/plugins/parent-fit/ls.parent-fit.js')
    script(src='/node_modules/lazysizes/plugins/progressive/ls.progressive.js')
    script(src='/node_modules/lazysizes/plugins/unveilhooks/ls.unveilhooks.js')
    script(src='/node_modules/lazysizes/plugins/custommedia/ls.custommedia.js')
    script(src='/node_modules/lazysizes/plugins/fix-ios-sizes/fix-ios-sizes.js')
    script(src='/node_modules/lazysizes/plugins/respimg/ls.respimg.js')
    script(src='/node_modules/lazysizes/plugins/bgset/ls.bgset.js')
    script(src='/node_modules/lazysizes/lazysizes.js')
    script(src='/node_modules/swiper/js/swiper.min.js')
    // endbuild

    //build:js scripts/app.js
    script(src='scripts/index.js')
    script(src='scripts/helper/utils.js')
    script(src='scripts/scroll-debounce.js')
    script(src='scripts/parallax.js')
    // endbuild
