block search-chips
	// Quick searchn news
	section.search-chips.pt-0
		.container
			.row
				.col-12.d-xl-flex
					h3 !{press.searchChips.title}
					.chips-wrap
						each chip in press.searchChips.chips
							a.chip(href=chip.url)= chip.label
						
			.row
				.col-12.d-xl-flex.mt-3
					h6 !{press.searchChips.alternative.title}
					.chips-wrap
						a.chip(href=press.searchChips.alternative.chip.url)= press.searchChips.alternative.chip.label


				


		