block shape-stain
	// shape stain
	svg(width="489" height="450" viewBox="0 0 489 450" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(d="M8.57631 153.692C1.44773 166.998 -0.948033 179.092 0.326641 190.052C1.27849 198.227 4.37077 205.733 8.97153 212.677L8.87664 212.692C9.05468 212.926 9.24153 213.135 9.42055 213.367C14.3246 220.563 20.9317 227.114 28.7754 233.061C43.6626 245.041 56.6559 249.756 56.6559 249.756L56.6578 249.745C70.7741 256.528 86.3128 262.168 101.836 266.752C123.119 273.036 144.343 277.362 161.716 280.03C180.985 284.669 199.211 291.57 215.828 300.602C232.445 309.632 247.562 320.872 260.915 334.411C304.126 384.55 355.513 486.693 435.033 435.562C514.368 381.493 490.622 271.394 455.139 193.273C448.041 177.649 440.476 163.304 433.171 150.943C383.866 72.7587 302.322 -15.0148 222.419 2.18011C172.313 13.1552 106.65 49.1953 54.6133 89.6073C33.0945 107.499 17.051 129.402 8.57631 153.692Z" fill="#AAAAAA")