block styles

	// build:css styles/truelayer.css
	link(rel='stylesheet', href='styles/truelayer/bootstrap.min.css')
	link(rel='stylesheet', href='styles/truelayer/typekit.css')
	link(rel='stylesheet', href='styles/truelayer/truelayer.css')
	link(rel='stylesheet', href='styles/truelayer/main.css')
	link(rel='stylesheet', href='styles/truelayer/mobile.css')
	// endbuild

	// build:css styles/plugins.css
	link(rel='stylesheet', href='/node_modules/swiper/css/swiper.min.css')
	// endbuild

	// build:css styles/test-truelayer.css
	link(rel='stylesheet', href='styles/index.css')
	// endbuild
