/* Navbar mobile ----------- */


#navbarMobile {
    background: #093554;
    z-index: 1005;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding:20px 0;
    z-index: 2100;
}

#navbarMobile .btn  {
    font-size:8pt;
    padding:8px 10px;
    margin:0;
}

#navbarMobile img {
    width:90%;
}

#navbarMobile.toggled {
    width: 250px;
    padding:20px;
}

#navbarMobile .navbar-brand {
    margin-bottom: 50px;
}
#navbarMobile ul {
    list-style: none;
    padding-left: 0;
}

#navbarMobile ul li  {
    padding: 10px 0;
    line-height: 15pt;
}

#navbarMobile ul li a {
    color: #ffffff;
    font-size:15pt;
}

#navbarMobile ul li a.active {
    color: #f7ab1b;
    font-size:15pt;
    text-decoration: none;
}

#navbarMobile ul li a span.menu-collapse {
    display: inline-block;
}

#navbarMobile ul li a span.menu-collapse i {
    color: #f7ab1b;
    font-size: 10pt;
    margin-left: 5px;
}

#navbarMobile ul.submenu {
    padding-left: 15px;
}

#navbarMobile ul.submenu li  {
    padding:5px 0;
}

#navbarMobile ul.submenu li a {
    font-size:12pt;
    opacity:0.7;
}


#navbarMobile ul.submenu li span {
    font-size:12pt;
    opacity:0.7;
    color: #ffffff;
}


/* Everything mobile (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 1024px), (max-width : 992px) {
    html {
        overflow-x:hidden;
    }

    footer #main-footer ul {
        font-size:12pt;
    }

    nav.navbar {
        padding:20px;
    }
    #main-footer .row .col {
        text-align: center;
    }

    #sub-menu ul li a {
        font-size:13pt;
    }

    #overview {
        text-align: center;
    }

    .negative-offset {
        margin:0;
    }

    .bg-layers-bottom.inside-bg-layers-top, .article-page #crop-header{
        padding:0;
    }

    .pis-logo {
        margin-bottom: 20px;
    }
    
    #section-schedule-marks .mb-150 {
        margin-bottom: 0;
    }

    .radio-btn {
        border-left: 1px solid #dddddd;
       height: 39px;
    }

    .radio-btn:first-child {
        height: 39px;
    }

    .radio-btn:not(:last-child) .label-radio {
        border-left: none;
    }
    
    svg.pattern {
        min-height: 2000px;    
        }





    /*********** Payments - How it works? ************/

    .yellow-cubes::before, .shape-bg::after, .description-use {
        display: none;
    }

    .wrap-content-how h5 {
        color: #2d2d2d;
    }
    
 

    .wrap-content-how {
        height: auto;
        width: 100%;
    }

    #bar {
        display: none;
    }

    .description-mobile {
        display: block;
    }

    .vertical-dotted-line {
        display: block;
        height: 30px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: 49%;
        top: -10px;
        border-left: 5px dotted #d3e6fe;
    }

    .initiate-icon {
        background: transparent url(../img/icons/initiate-active.svg) no-repeat center/ 130px;
        opacity: 1;
    }


   .authorise-icon {
       background: transparent url(../img/icons/authorise-active.svg) no-repeat center/ 130px;
       opacity: 1;

   }

.monitor-icon {
    background: transparent url(../img/icons/monitor-active.svg) no-repeat center/ 130px;
    height: 100px;
    opacity: 1;

}

.receive-icon {
    background: transparent url(../img/icons/receive-active.svg) no-repeat center/ 130px;
    height: 100px;
    opacity: 1;
    transition: 0.1s;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 480px) {
    .hiring h6 {
        font-size:13pt;
        padding-top:15px;
    }

    #hero .hero-img-pc {
        display: none;
    }

    .title-content h1.beta {
        font-size: 35pt;
        padding-right: 40px;
    }

    #global-container {
        margin:50px 0;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

    #pricing .box {
        padding:15px;
    }

    #about-us h1 {
        font-size:32pt;
    }

    form .btn-select ul li {
        font-size:10pt;
    }

    #hero .navbar {
        margin-bottom: 50px;
    }
    .hiring h6 {
        font-size:20pt;
        top: 10%;
        left: 5%;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    
    h3 {
        font-size:15pt;
    }

    h1 {
        font-size:30pt;
    }

    .hiring h6 {
        font-size:11pt;
        top: 7%;
        left: 3%;  
    }
    
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    p {
        font-size:15pt;
    }

    #things-we-do ul {
        font-size:18pt;
    }

    #developer-console {
        background: #ffffff;
    }
    #global-header {
        width:60%;
    }
    #map {
        max-height: 720px;
    }
    .map-key {
        left:25px;
        bottom:25px;
    }
    .controls {
        display:none
    }
    .active-l, .active-r, .active-t, .wip-l, .wip-r, .wip-t {
        animation:none;
    }
    .country-box {
        margin: 20px 10px;
    }
    #regulation.stripe-shape-2-kashmir80:before {
        right: -15vw;
    }
    #regulation.stripe-shape-4-kashmir80:after {
        bottom: -20vh;
        left: -15vw;
    }
}

/* iPads Pro (portrait) ----------- */
@media only screen
and (min-device-width: 1024px)
and (orientation:portrait) {
    .hiring h6 {
        font-size:11pt;
        top: 7%;
        left: 3%;  
    }
    #developer-console {
        background: #ffffff url("../img/console-layers-2.svg")  no-repeat 140% top / 65%;
    }
}

/* All Mobile (landscape) ----------- */
@media only screen
and (max-device-width : 1024px)
and (orientation : landscape) {

    .navbar .container {
        max-width: 100%;
        padding: 0 40px;
    }

    .article-page section {
        padding:100px 0;
    }

    #quick-links, .hero-img-logo, .hero-img-shadow {
        display: none;
    }

    #hero .hero-img-pc {
        height: 120%;
        position: absolute;
        width: 55vw;
        bottom: -15vh;
    }

    section {
        padding: 50px 0;
    }

    #data-api .data-api-img, #australia-img-hero, #france-img-hero {
        background: transparent;
    }

    #use-cases {
        background: #eeeeee;
    }

    .use-cases-payments, .use-cases-australia, .use-cases-france {
        background: #fff;
    }

    #hero .home-title .col-centered {
        margin:0;
    }

    #hero .home-title {
        padding-top:0;
        margin:0 20px;
    }
    nav.navbar ul li.nav-item {
        margin: 0px 15px;
    }
    nav.navbar ul li.support-padding {
        margin: 0px 0 0 10px;
    }
    .content-404 {
        margin-top:25%;
    }
    #rocket-404 {
        left:-35vw;
    }
}

/* All Mobile (portrait) ----------- */
@media only screen
and (max-device-width : 1023px)
and (orientation : portrait) {

    section {
        padding:100px 0;
    }

    p.small {
        font-size:12pt;
    }

    #hero .home-title {
        padding-right:20px;
        padding-left:20px;
    }

    #hero .hero-img-pc, #hero .hero-img-logo, #hero .hero-img-shadow {
        display: none;
    }

    #identity-and-payment #identity-transaction-data {
        border-right: none;
        border-bottom: 1px solid #eee;
        padding-bottom:50px;
        margin-bottom:50px;
    }

    #dev-console-container {
        display: none;
    }
    #customers .col-md-4 {
        margin-bottom:50px;
    }

    #data-api .data-api-img, #australia-img-hero, #france-img-hero {
        background: none;
    }

    #payments-api .payments-api-img {
        background: none;
    }

    .cookie-bar {
        width:200px;
    }

    #regulation-overview .row .color-box {
        margin:10px 0;
    }

    section p.header-paragraph {
        font-size:16pt;
    }

    #data-api .title-content {
        min-height:50vh;
    }

    #use-cases {
        background: #eeeeee;
    }

    #built-for-developers .col-xl-6:nth-child(2) {
        display: none;
    }

    #investors .col-lg-6 {
        margin:30px 0;
    }

    .photos {
        border:none;
    }

    #TL-data .col-lg-3:nth-child(3,4) {
        margin:15px 0;
    }

    #quick-links {
        display: none;
    }

    #faq-support #live-support {
        border:none;
        margin-bottom:50px;
    }

    #data-api, #payments-api, #customers-hero {
        text-align: center;
    }

    #sub-menu ul {
        text-align: center;
        padding:0;
    }

    #sub-menu ul li {
        margin:0 auto;
    }

    #main-footer .col-lg-2 {
        margin-top:30px;
    }

    #sign-up {
        text-align: center;
    }
    .icons-container {
        width:60%;
        height:100%;
        height: calc(100% - 100px);
    }
    .customers-filter, .customers-filter.sticky {
        padding:20px 40px 20px 0;
    }
    
    #story-buttons {
        margin-left: 40px;
    }
    #customers-buttons .row {
        overflow: auto;
        white-space: nowrap;
    }
    #story-buttons {
        text-align: center;
    }
    .story-container {
        margin: 20px auto;
    }
    .case-study-hero .title-content {
        text-align: center;
    }
    .case-study-hero .title-content .row {
        margin:0;
    }
    .case-study-quote {
        padding: 80px 40px;
    }
    .cs-quote {
        margin-right: 0;
    }
    .company-logo {
        position: relative;
        margin-top: 40px;
    }
    .customer-about h3 {
        font-size:16pt;
    }
    .customer-about h4 {
        font-size:10pt;
    }
    .case-study-hero h1 {
        margin-top:20px;
        font-size:2rem;
    }
    .case-study-hero h2 {
        font-size: 1rem;
        text-transform: uppercase;
    }
    .case-study-box {
        margin:0;
    }
    .process-grid, .process-grid-3-col {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-gap: 40px 0px;
        margin: 50px 0;
    }
    .case-study-quote:before {
        top: -18vh;
        right: -16vw;
    }
    .case-study-quote:after {
        bottom: -22vh;
        left: -12vw
    }
    .result-container {
        margin-bottom:20px;
    }
    .screenshots-img, #anna-screenshots {
        background-size: 95%;
    }
    .rev-flex {
        flex-wrap:wrap-reverse;
    }
   .content-404 {
       margin-top:25%;
   }
   #astronaut {
       top:100px;
   }
   .global-flags {
        justify-content: center !important;
    }
    #regulation.stripe-shape-2-kashmir80:before {
        top: -25vh;
        right: -35vw;
    }
    #regulation.stripe-shape-4-kashmir80:after {
        bottom: -30vh;
        left: -35vw;
    }

    .newsletter-fr .signup-form .hs-submit {
        right:20px;
    }
}

/* All Mobile (landscape) ----------- */
@media only screen
and (max-device-width : 1023px)
and (orientation : landscape) {
    #dev-console-container {
        display: none;
    }
    #developer-console {
        background: #ffffff;
    }
    
}

/* All Smaller Mobile (portrait) ----------- */
@media only screen
and (max-device-width : 575px)
and (orientation : portrait) {

    section, footer #main-footer, #about-us, #support {
        padding:60px 0;
    }

    #hero {
        height:auto;
    }

    .navbar-brand img {
        height:45px;
    }

    #things-we-do ul {
        font-size:20pt;
    }

    #identity-and-payment-container {
        background: #ffffff;
    }

    #identity-and-payment {
        border: none;
    }

    #developer-console {
        background: #ffffff url(../img/console.png) no-repeat top right / 40%;
    }

    section p.header-paragraph {
        font-size:12pt;
    }

    #data-api .title-content, #customers-hero .title-content {
        min-height:80vh;
    }

    #customers-hero .title-content {
       padding:30px 15px;
    }

    #features .col-12 {
        text-align: center;
    }

    #overview .col-lg-4 {
        margin:10px 0;
    }

    form .btn-select ul li {
        font-size:10pt;
    }

    #about-us h1 {
        font-size:30pt;
    }

    #TL-data .col-lg-3 {
        margin:10px 0;
        text-align: center;
    }

    #TL-data .data-box {
        width:100%;
    }

    #TL-data .row.mt-5 {
        margin-top:0;
    }

    #main-footer .footer-menu, #main-footer hr {
        display: none;
    }

    .hiring h6 {
        font-size:10pt;
        padding-left: 15px;
    }
    #developer:before,
    #enterprise:before {
        display:none;
    }
    .global-market-hero {
        padding:0 0 50px;
    }
    .signup-form .hs-fieldtype-text {
        float: unset;
        flex: 0 0 0;
        max-width: 100%;
    }
    .signup-form .legal-consent-container {
        margin-top:60px;
    }
    .signup-form .hs-submit {
        right: unset;
        top: 60px;
        padding: 0 15px;
        max-width: 100%
    }
    .hs-form-booleancheckbox label span {
        font-size: 0.8rem;
    }
    .legal-consent-container .hs-form-booleancheckbox-display>span {
        margin: auto .5rem!important;
    }
    #newsletter span {
        text-align: left;
    }
    .hs_please_select_the_reason_for_getting_in_touch select {
        width: 90%;
        float: left;
    }
    .hs_please_select_the_reason_for_getting_in_touch .input:after {
        background:#fff;
    }
    .hs-form-radio {
        width: 33.3334%;
    }
    #global-coverage {
        padding:80px 0 20px;
    }
    #global-header {
        position: relative;
        box-shadow: none;
        background: none;
        margin: 0 0 40px;
        padding: 20px 0;
        transform: none;
        left: unset;
    }
    #global-coverage .confetti-arc-sun30:before {
        right:-130px;
        top:-130px;
    }
    #global-coverage .confetti-triangle-violet30:after {
        left:-190px;
        bottom:-140px;
    }
    #map-container {
        display:none;
    }
    #global-sign-up {
        text-align:center;
    }
    #countries {
        padding: 60px 0 0px;
    }
    #countries .building-block-3:before {
        left: -50px;
        top: -80px;
    }
    #calendar {
        padding: 0 0 60px;
    }
    #calendar .confetti-wave-azure30:after {
        right: -50px;
        bottom: -170px;
    }
    #calendar .building-block-2:after {
        right: -60px;
        bottom: -80px;
    }
    .divider {
        border: none;
    }
    .country-box {
        margin: 10px 0;
    }  
    .icons-container {
        display: none;
    }
    .customers-filter, .customers-filter.sticky, .story-container .customer-about .col-lg-4 {
        display: none;
    }
    .case-study-hero {
        padding:0 0;
    }
    .case-study-hero h1 {
        font-size: 30pt;
    }
    .case-study-section {
        padding: 40px 0;
    }
    .company-logo img {
        max-width:200px;
    }
    .case-study-links {
        padding:0;
        display: block;
    }
    .cs-quote {
        margin:0;
    }
    hr.container {
        width: calc(100% - 70px);
    }
    .column-text {
        display: block;
    }
    .column-text .col-lg-6 {
        margin-bottom:20px;
        padding:0;
    }
    #process {
        margin:0;
    }
    .process-text {
        left:15%;
    }
    .case-study-section .flex {
        width:auto!important;
    }
    .study-box-container, .study-box-container .col-lg-10 {
        margin:0;
        padding:0;
    }
    .case-study-box-quote h3 {
        font-size: 16pt;
        padding-top:24px;
    }
    .case-study-box-quote p {
        font-size:10pt;
    }
    .case-study-box-quote {
        padding: 20px 20px;
    }
    .cs-quote:before, .cs-quote:after {
        font-size: 24px;
    }
    .cs-quote:before {
        left: 15px;
        top: -10px;
    }
    .cs-quote:after {
        right: 15px;
        bottom: -20px;
    }
    .case-study-quote:before {
        top: -24vh;
        right: -30vw;
    }
    .case-study-quote:after {
        bottom: -32vh;
        left: -30vw;
    }
    .case-study-screenshot {
        display:none;
    }
    .content-404{
        margin-top:40%;
    }
    #rocket-404 {
        width:100vw;
        max-width: 700px;
    }
    .newsletter-fr .signup-form .hs-submit {
        right: 0;
        left: 0;
        text-align: left;
    }
    .alt-btn {
        margin-right:5px;
    }
    .case-study-box .container {
        padding:30px 15px;
    }
    .news-message {
        font-size:0.7rem;
    }
}

@media only screen
and (max-device-width : 330px)
and (orientation : portrait) {
    .select-global i {
        display: none;
    }
    .btn {
        letter-spacing: .5pt;
    }
}


/* All Smaller Mobile (landscape) ----------- */
@media only screen
and (max-device-width : 991px)
and (orientation : landscape) {

    #hero .hero-img-pc {
        right:0;
        width:45vw;
    }

    #hero .home-title {
        padding-top:0;
        margin:0 20px;
    }
    .case-study-box {
        margin:0;
    }
    .result-container {
        margin-bottom:20px;
    }
    .case-study-screenshot {
      display: none;
    }
    #container-404, #bg-404 {
        height:150vh;
    }
    .content-404{
        margin-top:15%;
    }
    #rocket-404 {
        display:none;
    }
}

/* All Smaller Mobile (landscape) ----------- */
@media only screen
and (max-device-width : 813px)
and (orientation : landscape) {

    #hero .hero-img-pc {
        display: none;
    }

    #hero {
        height:auto;
    }

    #customers img {
        padding:20px 0;
    }
    .case-study-box {
        margin:0;
    }
    .case-study-screenshot {
        display:none;
    }
    .customers-filter, .customers-filter.sticky, .story-container .customer-about .col-lg-4, #icons-list {
        display: none;
    }
}

/* Everything portrait ----------- */
@media only screen
and (orientation : portrait) {

    #hero .hero-img-pc, #hero .hero-img-logo, #hero .hero-img-shadow {
        display: none;
    }

    #hero .hero-img {
        -webkit-background-size: 300%;
        background-size: 300%;
    }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

/* Fix for resized desktop version */
@media (max-width : 1024px) {
   #use-cases {
       background: #eeeeee;
   }
    
    .use-cases-data, .use-cases-payments, .use-cases-australia, .use-cases-france {
        background: transparent;
    }
}
/* Fix for resized desktop version */
@media (max-width : 1439px) {
     .cs-bottom {
         height:400px;
     }
 }
