body, html {
    color: #2d2d2d;
    font-weight:400;
    font-family: 'proxima-nova', sans-serif;
}

h1{
    font-size: 40pt;
    font-weight: 600;
    margin-top:40px;
}

h2 {
    margin:20px 0;
}

h2.big-margin {
    margin:20px 0 80px;
}

h3 {
    font-size:20pt;
    font-weight:400;
}

article h3 {
    margin:60px 0;
}

h4 {
    text-transform: uppercase;
    font-size:14pt;
}

h5 {
    text-transform: uppercase;
    font-size:12pt;
    margin:30px 0 5px;
}

h6 {
    font-size:10pt;
}

hr {
    border-top: 2px solid #F4F7F9;
    margin:40px 0;
}
.alt-bg.even-bg hr {
    border-top:2px solid #CEDBE4;
    opacity:.5;
}
footer hr {
    border-top: 1px solid rgba(0,0,0,.1);
}

a {
    color: #058ed8;
}

a:hover, a.country-container:hover .right-chev {
    color: #7a7fff;
}

a.underline-none:hover {
    text-decoration:none;
}
a.country-container:hover {
    background:#F4F7F9;
    transition: background .3s ease-in-out;
}
a.country-container:hover .integrations {
    text-decoration: underline;
}
p.small {
    font-size:10pt;
}

pre {
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
}
pre code {
    white-space: pre-wrap;
    tab-size: 1;
    -moz-tab-size: 1;
    -o-tab-size: 1;
    -webkit-tab-size: 1;
}

code {
    background-color: rgba(247,171,27,.15);
    font-size: 10pt;
    padding: 3px;
    border-radius: 3px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    display: inline-block;
    width: auto;
    color: #2d2d2d;
}

article ul {
    padding-left:0;
    margin:20px 0;
    list-style-type: none;
}

section article p {
    padding:0 0 20px 0;
}

article ul li {
    padding:5px 10px 0 20px;
}

article ul li::before {
    content: ">";
    color: #f7ab1b;
    margin-right:10px;
    position: absolute;
    left:20px;
}

article ol {
    counter-reset: item;
    padding-left:0;
    margin:20px 0;
}

article ol li {
    display: block;
    font-size:10pt;
}
article ol li::before, article ul ol li::before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #f7ab1b;
    margin-right: 10px;
    position: relative;
    left: 0;
}

article table, article .table {
    margin-bottom:30px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 6px rgba(50, 50, 93, 0.2), 0 2px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 6px rgba(50, 50, 93, 0.2), 0 2px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 6px rgba(50, 50, 93, 0.2), 0 2px 3px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#fff;
}
.box-shadow-alt {
    -webkit-box-shadow: 0 0 6px rgba(50, 50, 93, 0.1), 0 2px 3px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0 6px rgba(50, 50, 93, 0.1), 0 2px 3px rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 6px rgba(50, 50, 93, 0.1), 0 2px 3px rgba(0, 0, 0, 0.02);
    background:#fff;
}
.no-margin {
    margin:0;
}

.no-padding {
    padding:0;
}

.no-min-height {
    min-height: 0px;
}

.negative-offset {
    margin-left:-5vw;
}

.col-centered, .item-centered {
    margin:0 auto;
}

.light-weight {
    font-weight:100;
}

.normal-weight {
    font-weight:300;
}

.bg-layers-top {
    background: transparent url('../img/bg-layers-top.svg') no-repeat center top / 100%;
}


.bg-layers-bottom {
    background: transparent url('../img/bg-layers-bottom.svg') no-repeat center bottom / 100%;
}

.bg-layers-bottom.inside-bg-layers-top {
    margin: -100px;
    padding: 0 0 200px;
}

ul.list-style-circle {
    list-style-type: circle;
}
ul.list-style-square {
    list-style-type: square;
}
ul.list-style-decimal {
    list-style-type: decimal;
}


/************* FIXES FOR IE11 *************/


_:-ms-fullscreen, :root .bg-layers-top {
    background-position-y: -270px;
  }

  :-ms-fullscreen, :root #use-cases.bg-layers-bottom, :-ms-fullscreen, :root #developers.bg-layers-bottom {
    background-position-y: 300px;
  }

  :-ms-fullscreen, :root #developer-console {
    background-size: 100% 100%;
    background-position-x: 350px;
  }


  :-ms-fullscreen, :root #about-us.bg-layers-top {
    background-position-y: -650px;
  }

  
/************* BUTTONS *************/

.btn {
    display: inline-block;
    margin: 2% 10px 2% 0;
    padding: 8px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 1pt;
}

.btn i {
    font-size:9pt;
    padding: 0 0 0 10px;
}
.btn.focus, .btn:focus {
    box-shadow:none;
}
/*Button type*/

.btn-shadow {
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-shadow:hover {
    transform: translateY(-1px);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.btn-shadow:hover:disabled {
    transform: translateY(0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-outline-sun {
    background: transparent;
     border:1px solid #f7ab1b;
     color: #f7ab1b; 
 }

.btn-sun, .btn-sun:hover, .btn-outline-sun.active{
    background: #f7ab1b;
    border:1px solid #f7ab1b;
    color: #ffffff;
}

.btn-azure, .btn-azure:hover, .btn-outline-azure.active {
    background: #058ed8;
    border:1px solid #058ed8;
    color: #ffffff;
}

.btn-outline-azure, .btn-outline-azure:not([href]):not([tabindex]), .btn-outline-azure:not([href]):not([tabindex]):hover {
    background: transparent;
    border:1px solid #058ed8;
    color: #058ed8;
}
/* #story-buttons .btn-outline-azure:not([href]):not([tabindex]):hover,#story-buttons .btn-outline-azure:not([href]):not([tabindex]).active {
    background: #058ed8;
    border:1px solid #058ed8;
    color: #ffffff;
} */

.btn-violet, .btn-violet:hover, .btn-outline-violet.active  {
    background: #7a7fff;
    border:1px solid #7a7fff;
    color: #ffffff;
}

.btn-outline-violet {
   background: transparent;
    border:1px solid #7a7fff;
    color: #7a7fff; 
}

.btn-dark-violet, .btn-dark-violet:hover, .btn-outline-dark-violet.active {
    background: #42448E;
    border:1px solid #42448E;
    color: #ffffff;
}

.btn-outline-dark-violet {
    background: transparent;
    border:1px solid #42448E;
    color: #42448E; 
 }
 
.btn-kashmire-blue, .btn-kashmire-blue:hover, .btn-outline-kashmire-blue.active  {
    background: #44689a;
    border:1px solid #44689a;
    color: #ffffff;
}

.btn-outline-kashmire-blue {
   background: transparent;
    border:1px solid #44689a;
    color: #44689a; 
}
.btn-soft-azure, .btn-soft-azure:hover, .btn-outline-soft-azure.active  {
    background: #87bafc;
    border:1px solid #87bafc;
    color: #ffffff;
}
.btn-cloud-burst, .btn-cloud-burst:hover, .btn-outline-cloud-burst.active {
    background: #093554;
    border:1px solid #093554;
    color:#fff;
}
.btn-outline-cloud-burst {
    background: transparent;
    border:1px solid #093554;
    color:#093554;
}
.btn-outline-soft-azure {
    background: transparent;
    border:1px solid #87bafc;
    color: #87bafc; 
}

.btn-white, .btn-white:hover {
    background: #fff;
    border:1px solid #fff;
    color: #44689a;
}

.btn-outline-white {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-outline-white:hover {
    background: rgba(250,250,250,0.2);
    color: #ffffff;
}
.btn-icon {
    background: transparent;
    box-shadow: none;
    border: transparent;
    margin:0 8px;
    opacity:.8;
    color: #058ed8;
    transition: opacity .2s ease-in-out
}
.btn-icon:hover {
    opacity:1;
}
.btn-icon:focus {
    outline:none;
}

#customers-buttons .active {
    border:solid 1px transparent;
}
/************* COLOR PALETTE *************/

/*backgrounds*/

.sun-bg {
    background: #f7ab1b;
}

.kashmir-blue-bg, .all-bg {
    background: #44689a;
}
.kashmir-blue-50-bg {
    background:#99adc8;
}
.kashmir-blue-80-bg {
    background:#6683ac;
}
.kashmir-blue-10-bg {
    background:#dde4ed;
}
.cloud-burst-bg, .crypto-bg {
    background: #093554;
}
.cloud-burst-10-bg {
    background: #dde4ed;
}
.azure-bg, .challenger-banks-bg {
    background: #058ed8;
}
.azure-80-bg {
    background: #32A3DF;
}
.azure-50-bg {
    background: #77C1EA;
}
.azure-30-bg {
    background: #A4D6F1;
}
.azure-10-bg {
    background: #D2EAF8;
}
.soft-azure-bg, .lending-bg {
    background: #87bafc;
}
.soft-azure-80-bg {
    background: #9DC7FD;
}
.purple-bg {
    background: #42448e;
}

.violet-bg, .gaming-bg {
    background: #7a7fff;
}
.violet-80-bg {
    background: #9296FF;
}
.dark-violet-bg, .wealth-management-bg {
    background:#42448E;
}
.dark-violet-80-bg {
   background: #6466A3;
}
.sand-bg {
    background: #f4ebc9;
}

.white-bg {
    background: #fff;
}

.dark-gray-bg {
    background: #2d2d2d;
}

.gray-bg {
    background: #eeeeee;
}
.light-gray-bg {
    background: #F4F7F9;
}
.gradient {
    background: #093554; /* Old browsers */
    background: -moz-linear-gradient(-135deg, #093554 0%, #058ed8 50%, #f4ebc9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-135deg, #093554 0%,#058ed8 50%,#f4ebc9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #093554 0%,#058ed8 50%,#f4ebc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093554', endColorstr='#f4ebc9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*text*/

.red {
    color: #c00023;
}

.sun {
    color: #f7ab1b;
}

.kashmir-blue {
    color: #44689a;
}

.cloud-burst {
    color: #093554;
}

.azure, .azure a {
    color: #058ed8;
}
.azure-80 {
    color: #32A3DF;
}
.azure-50, .customer-info .azure a:hover {
    color: #77C1EA;
}
.azure-30 {
    color: #A4D6F1;
}
.azure-10 {
    color: #D2EAF8;
}
.soft-azure, .customer-info .soft-azure a {
    color: #87bafc;
}
.soft-azure-80, .customer-info .soft-azure a:hover {
    color: #9DC7FD;
}
.soft-azure-50 {
    color: #BED9FD;
}
.soft-azure-30 {
    color: #D3E6FE;
}
.soft-azure-10 {
    color: #E9F2FE;
}
.purple {
    color: #42448e;
}
.violet, .violet a, .customer-info .violet a{
    color: #7a7fff;
}
.violet-80, .customer-info .violet a:hover {
    color: #9296FF;
}
.violet-50{
    color: #B6B9FF;
}
.violet-30{
    color: #CFD0FF;
}
.violet-10{
    color: #E7E8FF;
}
.dark-violet, .customer-info .dark-violet a {
    color: #42448E;
}
.dark-violet-80, .customer-info .dark-violet a:hover {
    color:#6466a3;
}
.dark-violet-50 {
    color:#9899C1;
}
.dark-violet-30 {
    color:#babbd6;
}
.dark-violet-10 {
    color:#DDDDEA;
}
.sand{
    color: #f4ebc9;
}
.white {
    color: #ffffff;
}

.white a {
    color: #ffffff;
    text-decoration: underline;
}

.dark-gray {
    color: #2d2d2d;
}
.dark-gray-80 {
     color:rgba(45, 45, 45, 0.8);
}
.charcoal-80 {
    color: #bbbbbb;
}
.green {
    color:#399847;
}
.disabled {
    opacity: .5;
    text-decoration: line-through;
}

.flag-icon-tru.flag-icon-squared {
    background-image: url(/img/flags/1x1/tru.svg);
}

/************* FORMS *************/

form .form-control, form .btn-dropdown, .hs-input, form textarea, .contactus-form select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 0 20px;
    padding: 0 20px;
    border: solid 0.5pt #dddddd;
    font-size: 12pt;
    min-height: 40px;
}
.input-group-append .form-control {
    padding: .375rem .75rem;
}

input::placeholder {
    color: #555 !important;
}

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
    color: #555 !important;
}

form .btn-dropdown {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

form .form-control:hover, form .btn-dropdown:hover, form textarea:hover, form .btn:active, form .btn.active
, .contactus-form .hbspt-form .hs-input:hover, .contactus-form .hbspt-form .hs-input:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0.5pt solid #7a7fff;
    color: #093554;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

form .form-control:focus, form .btn-dropdown:focus, form textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1.4pt solid #7a7fff;
    color: #093554;
    padding: 0 20px 0;
}

form textarea, .input textarea {
    padding: 20px;
    width: 100%;
    margin: 0 0 20px;
}

form textarea:focus {
    padding: 18.8px 20px;
}

form p {
    margin: 0 0 40px;
}

form p.form-policy {
    font-size: 9pt;
    display: block;
}

form label {
    font-weight: 400;
    margin: 20px 0 5px;
    font-size: 11pt;
    color: #aaa;
}

form .btn-select .btn-select-value, .contactus-form select {
    text-transform: none;
    font-size: 12pt;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #555555;
    padding: 8px 20px;
    text-transform: capitalize;
}

form .btn-select .btn-select-arrow {
    min-height: 34px;
    padding: 9px 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-left: 0.5px solid #dddddd;
    color: #aaaaaa;
}

form .btn-select .btn-select-arrow  i {
    padding:0;
}

form .btn-select ul, .contactus-form select option {
    top: 40px;
    border: solid 0.5pt #dddddd;
}

form .btn-select ul li, .contactus-form select option {
    padding: 8px 20px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

form .btn-select ul li.selected {
    background: #7a7fff;
}

form .btn-primary, form .btn-primary:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    margin-top: 50px;
}

form .btn-primary:hover {
    -webkit-transform: translateY(-1px) scale(1.3);
    -moz-transform: translateY(-1px) scale(1.3);
    -ms-transform: translateY(-1px) scale(1.3);
    -o-transform: translateY(-1px) scale(1.3);
    transform: translateY(-1px) scale(1.3);
}

form a.btn-dropdown {
    margin: 10px 0;
}

.legal-note, .legal-note a {
    font-size: 8pt;
    color: #aaaaaa;
}

.legal-note, .legal-note-dark {
    display: block;
    margin: 10px 0 0;
}

.legal-note-dark, .legal-note-dark a {
    font-size: 8pt;
    color: #87bafc;
}

/******** HUBSPOT FORMS **************/

.hbspt-form  {
    width:100%;
}
.contactus-form .submitted-message p {
    padding:0;
}
.contactus-form .submitted-message p {
 margin:0;
 text-align: center;
}
.hs-fieldtype-text label {
    display:none;
}
.no-list, .input ul, .no-list {
    padding: 0;
    list-style: none;
    margin:0;
}
.hs-error-msgs label {
    display: block;
    margin: 0 0 20px;
    color: #c00023!important;
}
.aus-form .hs-error-msgs label, .fra-form .hs-error-msgs label  {
    color:#fff!important;
}
.input input{
    width:100%;
}
.hs-form-booleancheckbox-display input {
    width:unset;
}
.signup-form .hs-fieldtype-text {
    float:left;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.signup-form .legal-consent-container {
    width: 100%;
    padding-left: 15px;
}
#main-footer .hbspt-form li {
    padding:0;
}
.hbspt-form li .hs-input, #gdpr-consent {
    margin:0;
}
.signup-form .hs-submit {
    max-width: 33.333334%;
    position: absolute;
    top:0;
    right:40px;
}

.contactus-form select, .contactus-form option {
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
    background: transparent;
    box-shadow: none;
    color: #555555;
    height: 40px;
    width: 100%;
} 
.hs_please_select_the_reason_for_getting_in_touch select{
    margin-bottom:0px;
}
.hs_please_select_the_reason_for_getting_in_touch .input {
    position: relative;
    text-align: center;
}
.hs_please_select_the_reason_for_getting_in_touch .input:after {
    font-family: "Font Awesome 5 Free";
    color: #aaaaaa;
    font-weight: 900;
    content:"\f0d7";
    width:40px;
    height:40px;
    border: solid 0.5pt #dddddd;
    position: absolute;
    right:0;
    padding:7px;
    pointer-events:none;
 }
 .hs_please_select_the_reason_for_getting_in_touch .input:hover:after {
    border: solid 0.5pt #7a7fff;
    border-left: solid 0.5pt #ddd;
 }
 .hs-form-radio {
     position: relative;
     width:25%;
 }
 .hs_which_product_are_you_interested_in_ ul {
     width:100%;
     display: inline-flex;
 }
 .hs-form-booleancheckbox label {
    display: inline-flex;
    margin: auto;
 }
 .hs-form-booleancheckbox label span {
    margin: auto 10px!important;
    font-size: .8rem;
    text-align: left;
 }
 .hs-form-required {
     margin:0
    }
 .hs-form-radio label {
    position: absolute;
    width: 100%;
    margin:0;
 }
 .contactus-form textarea {
     height:160px;
 }
 .contactus-form .actions {
     text-align:center; 
 }
.legal-note-light, .legal-note-light a {
    font-size: 8pt;
    color: #fff;
}

.aus-form span, .fra-form span {
    color:#fff;
}
.aus-form .submitted-message, .fra-form .submitted-message {
    padding-top:30px;
}
.aus-form .submitted-message p, .fra-form .submitted-message p  {
    margin:0;
    color:#f7ab1b;
    padding:0;
    text-align:center;
}

/************* 404 *************/

#container-404 {
    height: 100vh;
}
#bg-404 {
    position: absolute;
    height:100vh;
    width: 100%;
    padding:0;
    background: #2d2d2d url(../img/404/404-bg.svg) no-repeat center / cover;
    overflow: hidden;
}
#bg-404:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url(../img/404/404-foreground.svg) no-repeat center / 100%;
    top: 0;
    z-index: 0;
}
.content-404 {
    z-index:1;
    position: relative;
}
#blackhole {
    position: absolute;
    left: -10vw;
    top: 0;
    max-width: 750px;
    width: 35vw;
    animation: blackhole 360s infinite;
}
@keyframes blackhole {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
#num4 {
    left:30vw;
    top:20vh;
    width:5%;
    max-width:65px
}
#num0 {
    left:40vw;
    top:30vh;
    width:10%;
    max-width: 90px;
}
#num04 {
    left:50vw;
    top:15vh;
    width: 15%;
    max-width: 130px;
}
#astronaut {
    position: absolute;
    width: 20vw;
    max-width: 250px;
    right: 0;
}
#rocket-404 {
    position: absolute;
    width: 70vw;
    max-width: 700px;
    left:-25vw;
    bottom:-20vh;
    animation: rocket 20s forwards ease-in-out;
}
#rocket-404 img {
    width:100%;
}
#azure-block-top{
    left: 20vw;
    top: 25vh;
}
#azure-block-top.building-block-azure:before{
    width: 60px;
    height:60px;
    transform: rotate(-20deg);
}
#violet-block-top {
    top: -8vh;
    left: 50%;
}
#violet-block-top.building-block-violet:before {
    transform: rotate(46deg);
    height: 100px;
    width: 100px;
}
#sun-block-mid{
    right:-5vw;
    top: 15vh;
}
#sun-block-mid.building-block:before {
    height: 110px;
    width: 110px;
}
#sun-block-bottom{
    bottom:5vh;
    left:50vw;
}
#sun-block-bottom.building-block:before {
    height: 150px;
    width: 150px;
}
#violet-block-bottom{
    bottom: 5vh;
    left:25vw;
}
#violet-block-bottom.building-block-violet:before {
    transform: rotate(-130deg);
}
.gravity, .gravity-astro {  
    position:absolute;
    animation-name: gravity;
    animation: gravity 5s infinite ease-in-out;
}
.gravity-astro {
    animation-name: gravity-astro;
}
@keyframes gravity {
    0% { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}
@keyframes gravity-astro {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
  }
  
@keyframes rocket {
    0% { transform: translate(0%, 0%); }
    100% { transform: translate(30%, -15%); }
}
#num0.gravity, #violet-block-bottom.gravity{
    animation-delay: .4s;
}
#num04.gravity{
    animation-delay: .2s;
}
#azure-block-top.gravity, #sun-block-bottom.gravity {
    animation-delay: .6s;
}
#sun-block-mid.gravity {
    animation-delay: .8s;
}

/************* ANIMAITONS/TRANSITIONS *************/

.transition-opacity {
    transition: opacity .5s ease-in-out
}

.btn-hover {
    transition: all .2s ease-in-out;
}
.btn-hover:hover {
    /* -webkit-transform: translateY(-1px) scale(1.01);
    -moz-transform: translateY(-1px) scale(1.01);
    -ms-transform: translateY(-1px) scale(1.01);
    -o-transform: translateY(-1px) scale(1.01);
    transform: scale(1.01); */
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.25), 0 1px 3px rgba(0, 0, 0, 0.22);
    box-shadow: 0 4px 6px rgba(11, 11, 12, 0.25), 0 1px 3px rgba(0, 0, 0, 0.22);
}
.subtle-scale {
    transform:scale(1);
    transition: all .5s ease-in-out;
}
.subtle-scale:hover {
    transform:scale(1.02);
    -webkit-box-shadow: 0 0 12px rgba(50, 50, 93, 0.25), 0 4px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 12px rgba(50, 50, 93, 0.25), 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 12px rgba(50, 50, 93, 0.25), 0 4px 8px rgba(0, 0, 0, 0.3);
}
.appearOut {
    transition: all 1s ease-out;
    opacity:0;
    transform:translate(0, 50px)
}
.appearIn {
    transition: all 1s ease-out;
    opacity: 1;
    transform:translate(0, 0px)
}
.trans-delay {
    transition-delay: .3s;
}
.trans-delay-2 {
    transition-delay: .6s;
}
.fadeIn {
    transition: all 1s ease-out;
    opacity:0;
}
.fadeOut {
    transition: all 1s ease-out;
    opacity: 1;
}
